@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

.query-input-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #0077B5;
  height: inherit;
  width: -webkit-fill-available;
  border-radius: 10px;
  float: right;
  padding: 0px !important;
}

.mat-card-actions{
  background: #ffffff;
}
