@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

.query-input-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: green;
  height: inherit;
  width: 70%;
  border-radius: 10px;
  float: right;
}
