@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

.query-input-form {
  display: block;
  background: #004d40;
  border-radius: 10px;
  width: 50%;
  float: right;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  text-align: center;
}

input {
  padding: 15px;
  width: 80%;
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
}

textarea {
  font-family: Raleway, sans-serif;
  padding: 15px;
  width: 80%;
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;

}

input::-webkit-input-placeholder {
  color: #ffffff ;
  }

textarea::-webkit-input-placeholder {
  color: #ffffff ;
  }

button {
  display: block;
  margin: 0 auto;
  width: 40%;
  color: #004d40;
  background-color: #ffffff;
  outline: none;
  border: none;
}

button:hover{
  letter-spacing: 5px;
  transition: all 0.6s ease 0s;
}
