<mat-card class="query-input-form">
  <mat-card-title>
    <h4>Please enter your details.</h4>
    <input matInput placeholder="Email" style="width: 100%; font-family: Raleway, sans-serif" [(ngModel)]="email">
  </mat-card-title>
  <mat-card-content>
    <textarea matInput placeholder="Issue" style="width: 100%; font-family: Raleway, sans-serif" [(ngModel)]="query"></textarea>
  </mat-card-content>
  <button mat-flat-button style="display: block; margin-left: auto; margin-right: auto" (click)="submitDetails()">Submit</button>
</mat-card>
