<div class="query-input-form">
  <mat-form-field style="display: flex; width: inherit; margin: 5%; margin-top: 2.5%; font-family: sans-serif">
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field style="display: flex; width: auto; margin: 5%; margin-top: 0%; font-family: sans-serif;">
      <textarea matInput placeholder="Issue"></textarea>
  </mat-form-field>
  <button mat-flat-button style="display: block; margin-left: auto; margin-right: auto">Submit</button>
</div>
