<div class="message-box-send" *ngIf="_connectionId == message.emailId">
  <!-- <div  class="user-avatar-div-send">
    <avatar [name]="message.name" [displayType]="'circle'"></avatar>
  </div> -->
  <div style=" width: 60%">
    <mat-card-title class="user-name">{{message.name}}</mat-card-title>
    <mat-card-content>
      <p class="message">
        {{message.messageText}}
      </p>
    </mat-card-content>
  </div>
</div>
<mat-card class="message-box-recieve" align="right" *ngIf="_connectionId != message.emailId">
  <!-- <div mat-card-avatar class="user-avatar-div-recieve">
    <avatar [name]="message.name" [displayType]="'circle'"></avatar>
  </div> -->
  <div style="float: right; width: 60%">
    <mat-card-title class="user-name">{{message.name}}</mat-card-title>
    <mat-card-content>
      <p class="message">
        {{message.messageText}}
      </p>
    </mat-card-content>
  </div>
</mat-card>
