<mat-card class="message-box-send" *ngIf="_connectionId == message.to.clientemail">
  <div mat-card-avatar class="user-avatar-div-recieve" *ngIf="message.to.clientimageurl != null">
    <mat-icon svgIcon="send" style="fill: whitesmoke; background: tomato"></mat-icon>
  </div>
  <div mat-card-avatar class="user-avatar-div-recieve" *ngIf="message.to.clientimageurl == null">
    <avatar [name]="message.to.clientname" [displayType]="'circle'"></avatar>
  </div>
  <div style="float: right; width: 60%">
    <mat-card-title class="user-name">{{message.to.clientname}}</mat-card-title>
    <mat-card-content>
      <p class="message">
        {{message.text}}
      </p>
    </mat-card-content>
  </div>
</mat-card>
<mat-card class="message-box-recieve" align="right" *ngIf="_connectionId != message.to.clientemail">
  <div mat-card-avatar class="user-avatar-div-recieve" *ngIf="message.to.clientimageurl != null">
    <mat-icon svgIcon="send" style="fill: whitesmoke; background: tomato"></mat-icon>
  </div>
  <div mat-card-avatar class="user-avatar-div-recieve" *ngIf="message.to.clientimageurl == null">
    <avatar [name]="message.from.clientname" [displayType]="'circle'"></avatar>
  </div>
  <div style="float: right; width: 60%">
    <mat-card-title class="user-name">{{message.Name}}</mat-card-title>
    <mat-card-content>
      <p class="message">
        {{message.text}}
      </p>
    </mat-card-content>
  </div>
</mat-card>
