<div class="message-box-send" *ngIf="_connectionId == message.emailId">
  <div style=" width: 60%">
    <mat-card-title class="user-name">{{message.name}}</mat-card-title>
    <mat-card-content>
      <p class="message">
        {{message.messageText}}
      </p>
    </mat-card-content>
  </div>
</div>
<mat-card class="message-box-recieve" align="right" *ngIf="_connectionId != message.emailId">
  <div style="width: 90%">
    <mat-card-title class="user-name">{{message.name}}</mat-card-title>
    <mat-card-content>
      <p class="message">
        {{message.messageText}}
      </p>
    </mat-card-content>
  </div>
</mat-card>
