.message-box-send {
  background: #76448A;
  width: 54%;
  height: 50%;
  border-radius: 10px;
  text-align: left;
  margin: 5px;
  overflow: hidden;
  padding: 10px;
}


/* .user-avatar-div-send {
  width: 20%;
  text-align: center;
  padding: 10px 5px 10px 30px;
  height: 50%;
}


.user-avatar-div-recieve {
  width: 20%;
  text-align: center;
  padding: 10px 5px 10px 30px;

} */

.message-box-recieve {
  background: #117864;
  width: 50%;
  height: 50%;
  float: right;
  border-radius: 10px;
  text-align: left;
  margin: 5px;
  overflow: hidden;
}

.user-name {
  font-family: 'Raleway', sans-serif;
  color: #f5f5f6;
  font-weight: bold;
  font-size: x-large;
}


.message {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #f5f5f6;
  overflow: hidden;
}


